<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.beriru.playground"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="cn.beriru.app.App"
        >
        <activity
            android:name="cn.beriru.entry.EntryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="cn.beriru.ipc.IPCActivity" ></activity>
        <activity android:name="cn.beriru.jni.CallJniActivity" ></activity>
        <activity android:name="cn.beriru.dynamic.DynamicJavaActivity"></activity>
        <activity android:name="cn.beriru.su.SuEntryActivity"></activity>
        <activity android:name="cn.beriru.alarm.AlarmEntryActivity"></activity>

        <service android:name="cn.beriru.ipc.ProcessService" android:process=":push">
        </service>
        
        <receiver android:name="cn.beriru.alarm.AlarmReceiver" android:process=":alarm">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE"/>
            </intent-filter>
            
            <!--  system app only
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.REBOOT"/>
            </intent-filter>
             -->
             
             
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
            
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            
        </receiver>
        
    </application>
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    
    <!-- 
    for dumpsys , but only granted to system app
    <uses-permission android:name="android.permission.DUMP"/>
     -->

</manifest>
